In [1]:
import numpy as np
import pandas as pd
import requests
import lxml.html as lh

from tabulate import tabulate
import json, time, datetime
import telegram

pd.set_option('display.max_rows', 500)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
# !pip install pandas requests lxml beautifulsoup4 python-telegram-bot tabulate --upgrade

# Telegram API

In [3]:
class TelegramMessenger:
    """
    https://forums.fast.ai/t/training-metrics-as-notifications-on-mobile-using-callbacks/17330/4

    Utilizes this API Library:
       https://github.com/python-telegram-bot/python-telegram-bot
    To install:
       pip install python-telegram-bot --upgrade

    {"api_key": "462203107:<your API key>",
     "chat_id": "<your chat ID>"}

    Here's how you get an API key:
       https://core.telegram.org/api/obtaining_api_id
    Here's how you get your chat ID:
       https://stackoverflow.com/questions/32423837/telegram-bot-how-to-get-a-group-chat-id

    """

    def __init__(self, cred_file_path):
        self.__credentials = json.loads(open(cred_file_path).read())
        # Initialize bot
        self.bot = telegram.Bot(token=self.__credentials['api_key'])

    def send_message(self, message='Done'):
        self.bot.send_message(parse_mode='HTML', chat_id=self.__credentials['chat_id'], text=message)

# Global data

In [12]:
def convert1(num):
    num = float('{:.3g}'.format(num))
    magnitude = 0
    while abs(num) >= 1000:
        magnitude += 1
        num /= 1000.0
    return '{}{}'.format('{:f}'.format(num).rstrip('0').rstrip('.'), ['', 'K', 'M', 'B', 'T'][magnitude])

def get_data():
    url = 'https://www.worldometers.info/coronavirus'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="main_table_countries_today"]/tbody[1]')
    rows = []
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    columns = ['Country', 'Cases', 'New', 'Deaths',
               'New Deaths', 'Recovered', 'Active', 'x', 'x', 'x', 'x']
    df = pd.DataFrame(rows, columns=columns)
    df = df.astype(str).replace('', 0).iloc[:, :-3]
    
    for col in df.columns[1:]:
        df[col] = df[col].str.replace(' ', '').replace(
            ',', '', regex=True).replace('+', '').apply(pd.to_numeric).fillna(0)
        
    df = df.sort_values(['New', 'Cases'], ascending=False)
    total = df.sum().values
    total[0] = 'Total'
    df = pd.concat([pd.DataFrame([total], columns=df.columns), df]).rename({'Country': 'Place'}, axis=1).set_index('Place')
#     df = df/1000
    df = df.astype(str)
#     df = df.apply(convert)
#     df['Total(1000)',:] = (df['Total']/1000).round(2)

#     for col in df.columns:
#         df[col] = (df[col].astype(float)/1000000).astype(str) + 'M'
    return df
    

df = get_data()
df.head(300)

,Cases,New,Deaths,New Deaths,Recovered,Active,x
Place,,,,,,,
Total,2436252,33346.0,131682.0,2306.0,507642.0,1796928,89384.0
World,1218126,16673.0,65841.0,1153.0,253821.0,898464,44692.0
Spain,130759,4591.0,12418.0,471.0,38080.0,80261,6861.0
Iran,58226,2483.0,3603.0,151.0,19736.0,34887,4103.0
Belgium,19691,1260.0,1447.0,164.0,3751.0,14493,1261.0
Netherlands,17851,1224.0,1766.0,115.0,250.0,15835,1360.0
Portugal,11278,754.0,295.0,29.0,75.0,10908,267.0
Russia,5389,658.0,45.0,2.0,355.0,4989,8.0
Switzerland,21100,595.0,680.0,14.0,6415.0,14005,391.0
Sweden,6830,387.0,401.0,28.0,205.0,6224,541.0
Germany,96471,379.0,1447.0,3.0,26400.0,68624,3936.0
Denmark,4369,292.0,179.0,18.0,1327.0,2863,142.0
USA,311637,280.0,8454.0,2.0,14828.0,288355,8206.0
Romania,3864,251.0,148.0,2.0,374.0,3342,141.0
Poland,3834,207.0,84.0,5.0,134.0,3616,50.0
Saudi Arabia,2385,206.0,34.0,5.0,488.0,1863,41.0
Mexico,1890,202.0,79.0,19.0,633.0,1178,1.0
Indonesia,2273,181.0,198.0,7.0,164.0,1911,0.0
Malaysia,3662,179.0,61.0,4.0,1005.0,2596,99.0
Israel,8018,167.0,46.0,2.0,477.0,7495,127.0
Philippines,3246,152.0,152.0,8.0,64.0,3030,1.0
Australia,5687,137.0,34.0,4.0,2315.0,3338,85.0
Austria,11907,126.0,204.0,18.0,2998.0,8705,244.0
Belarus,562,122.0,8.0,3.0,53.0,501,11.0
Singapore,1309,120.0,6.0,0.0,297.0,1006,24.0
Canada,14018,106.0,233.0,2.0,2603.0,11182,426.0
Thailand,2169,102.0,23.0,3.0,674.0,1472,23.0
Norway,5645,95.0,66.0,4.0,32.0,5547,98.0
New Zealand,1039,89.0,1.0,0.0,156.0,882,3.0
S. Korea,10237,81.0,183.0,6.0,6463.0,3591,55.0
Pakistan,2899,81.0,45.0,4.0,208.0,2646,18.0
Kuwait,556,77.0,1.0,0.0,99.0,456,17.0
North Macedonia,555,72.0,18.0,1.0,23.0,514,15.0
Azerbaijan,584,63.0,5.0,0.0,32.0,547,17.0
Estonia,1097,58.0,15.0,2.0,62.0,1020,17.0
Croatia,1182,56.0,16.0,4.0,119.0,1047,39.0
Hungary,733,55.0,34.0,2.0,66.0,633,17.0
Armenia,822,52.0,7.0,0.0,57.0,758,30.0
Finland,1927,45.0,28.0,3.0,300.0,1599,73.0
Morocco,961,42.0,69.0,10.0,70.0,822,1.0
Lithuania,811,40.0,12.0,1.0,7.0,792,11.0
Kazakhstan,569,38.0,6.0,1.0,36.0,527,6.0
Andorra,501,35.0,18.0,1.0,26.0,457,12.0
Uzbekistan,298,32.0,2.0,0.0,30.0,266,8.0
Mauritius,227,31.0,7.0,0.0,7.0,213,1.0
China,81669,30.0,3329.0,3.0,76964.0,1376,295.0
Hong Kong,890,28.0,4.0,0.0,206.0,680,8.0
Albania,361,28.0,20.0,0.0,104.0,237,7.0
Afghanistan,337,28.0,7.0,0.0,15.0,315,0.0
Ukraine,1251,26.0,32.0,0.0,25.0,1194,16.0
Latvia,533,24.0,1.0,0.0,1.0,531,4.0
Congo,45,23.0,5.0,3.0,2.0,38,0.0
Oman,298,21.0,2.0,0.0,61.0,235,3.0
Slovenia,997,20.0,28.0,6.0,79.0,890,31.0
Bulgaria,522,19.0,18.0,1.0,37.0,467,26.0
Bolivia,157,18.0,10.0,0.0,2.0,145,3.0
Bangladesh,88,18.0,9.0,1.0,33.0,46,1.0
Bosnia and Herzegovina,641,17.0,21.0,0.0,30.0,590,4.0
Slovakia,485,14.0,1.0,0.0,10.0,474,3.0
Malta,227,14.0,0.0,0.0,2.0,225,3.0
Bahrain,698,10.0,4.0,0.0,427.0,267,3.0
Nigeria,224,10.0,5.0,1.0,27.0,192,2.0
Palestine,226,9.0,1.0,0.0,23.0,202,0.0
Ghana,214,9.0,5.0,0.0,31.0,178,2.0
Djibouti,59,9.0,0.0,0.0,9.0,50,0.0
Taiwan,363,8.0,5.0,0.0,54.0,304,0.0
Georgia,170,8.0,2.0,1.0,36.0,132,6.0
Paraguay,104,8.0,3.0,0.0,12.0,89,2.0
Lebanon,527,7.0,18.0,1.0,54.0,455,26.0
San Marino,266,7.0,32.0,0.0,35.0,199,14.0
El Salvador,62,6.0,3.0,0.0,2.0,57,4.0
Sri Lanka,171,5.0,5.0,0.0,29.0,137,5.0
Ethiopia,43,5.0,1.0,1.0,4.0,38,1.0
Saint Martin,29,5.0,2.0,0.0,7.0,20,6.0
Honduras,268,4.0,22.0,7.0,6.0,240,10.0
Czechia,4475,3.0,62.0,3.0,78.0,4335,86.0
Senegal,222,3.0,2.0,0.0,82.0,138,1.0
Kyrgyzstan,147,3.0,1.0,0.0,9.0,137,5.0
Syria,19,3.0,2.0,0.0,2.0,15,0.0
Liberia,13,3.0,3.0,2.0,3.0,7,0.0
Montenegro,203,2.0,2.0,0.0,1.0,200,4.0
Jamaica,55,2.0,3.0,0.0,7.0,45,0.0
Sint Maarten,25,2.0,4.0,0.0,6.0,15,0.0
Namibia,16,2.0,0.0,0.0,3.0,13,0.0
Sierra Leone,6,2.0,0.0,0.0,0.0,6,0.0
Vietnam,241,1.0,0.0,0.0,90.0,151,3.0
Isle of Man,127,1.0,1.0,0.0,0.0,126,0.0
Guyana,24,1.0,4.0,0.0,0.0,20,0.0
Haiti,21,1.0,0.0,0.0,1.0,20,0.0
Laos,11,1.0,0.0,0.0,0.0,11,0.0
Saint Pierre Miquelon,1,1.0,0.0,0.0,0.0,1,0.0
South Sudan,1,1.0,0.0,0.0,0.0,1,0.0
Italy,124632,0.0,15362.0,0.0,20996.0,88274,3994.0
France,89953,0.0,7560.0,0.0,15438.0,66955,6838.0
UK,41903,0.0,4313.0,0.0,135.0,37455,1559.0
Turkey,23934,0.0,501.0,0.0,786.0,22647,1311.0
Brazil,10360,0.0,445.0,0.0,127.0,9788,296.0
Ireland,4604,0.0,137.0,0.0,25.0,4442,148.0
Chile,4161,0.0,27.0,0.0,528.0,3606,38.0
India,3588,0.0,99.0,0.0,229.0,3260,0.0
Ecuador,3465,0.0,172.0,0.0,100.0,3193,100.0
Japan,3139,0.0,77.0,0.0,514.0,2548,64.0
Luxembourg,2729,0.0,31.0,0.0,500.0,2198,35.0
Panama,1801,0.0,46.0,0.0,13.0,1742,75.0
Peru,1746,0.0,73.0,0.0,914.0,759,88.0
Greece,1673,0.0,70.0,2.0,78.0,1525,92.0
Serbia,1624,0.0,44.0,0.0,54.0,1526,89.0
South Africa,1585,0.0,9.0,0.0,95.0,1481,7.0
Dominican Republic,1578,0.0,77.0,0.0,17.0,1484,147.0
UAE,1505,0.0,10.0,0.0,125.0,1370,2.0
Argentina,1451,0.0,43.0,0.0,279.0,1129,86.0
Iceland,1417,0.0,4.0,0.0,396.0,1017,12.0
Colombia,1406,0.0,32.0,0.0,85.0,1289,50.0
Qatar,1325,0.0,3.0,0.0,109.0,1213,37.0
Algeria,1251,0.0,130.0,0.0,90.0,1031,0.0
Egypt,1070,0.0,71.0,0.0,241.0,758,0.0
Iraq,878,0.0,56.0,0.0,259.0,563,0.0
Moldova,752,0.0,14.0,2.0,30.0,708,80.0
Diamond Princess,712,0.0,11.0,0.0,619.0,82,10.0
Cameroon,555,0.0,9.0,0.0,17.0,529,0.0
Tunisia,553,0.0,19.0,1.0,5.0,529,39.0
Costa Rica,435,0.0,2.0,0.0,13.0,420,13.0
Cyprus,426,0.0,9.0,0.0,33.0,384,11.0
Uruguay,400,0.0,5.0,0.0,93.0,302,13.0
Réunion,334,0.0,0.0,0.0,40.0,294,4.0
Jordan,323,0.0,5.0,0.0,74.0,244,5.0
Burkina Faso,318,0.0,16.0,0.0,66.0,236,0.0
Cuba,288,0.0,6.0,0.0,15.0,267,11.0
Channel Islands,262,0.0,5.0,0.0,13.0,244,0.0
Ivory Coast,245,0.0,1.0,0.0,25.0,219,0.0
Faeroe Islands,181,0.0,0.0,0.0,99.0,82,1.0
Venezuela,155,0.0,7.0,0.0,52.0,96,6.0
DRC,154,0.0,18.0,0.0,3.0,133,0.0
Martinique,145,0.0,3.0,0.0,27.0,115,22.0
Niger,144,0.0,8.0,0.0,0.0,136,0.0
Brunei,135,0.0,1.0,0.0,73.0,61,3.0
Guadeloupe,134,0.0,7.0,0.0,24.0,103,14.0
Mayotte,134,0.0,2.0,0.0,14.0,118,3.0
Kenya,126,0.0,4.0,0.0,4.0,118,2.0
Cambodia,114,0.0,0.0,0.0,50.0,64,1.0
Guinea,111,0.0,0.0,0.0,5.0,106,0.0
Trinidad and Tobago,103,0.0,6.0,0.0,1.0,96,0.0
Rwanda,102,0.0,0.0,0.0,4.0,98,0.0
Gibraltar,98,0.0,0.0,0.0,52.0,46,0.0
Liechtenstein,77,0.0,1.0,0.0,0.0,76,0.0
Madagascar,70,0.0,0.0,0.0,0.0,70,6.0
Monaco,66,0.0,1.0,0.0,3.0,62,2.0
Aruba,64,0.0,0.0,0.0,1.0,63,0.0
Guatemala,61,0.0,2.0,0.0,15.0,44,1.0
French Guiana,61,0.0,0.0,0.0,22.0,39,1.0
Barbados,52,0.0,0.0,0.0,0.0,52,0.0
Uganda,48,0.0,0.0,0.0,0.0,48,0.0
Macao,44,0.0,0.0,0.0,10.0,34,0.0
Mali,41,0.0,3.0,0.0,1.0,37,0.0
Togo,41,0.0,3.0,0.0,17.0,21,0.0
French Polynesia,40,0.0,0.0,0.0,0.0,40,1.0
Zambia,39,0.0,1.0,0.0,3.0,35,0.0
Bermuda,37,0.0,0.0,0.0,14.0,23,0.0
Cayman Islands,35,0.0,1.0,0.0,1.0,33,0.0
Eritrea,29,0.0,0.0,0.0,0.0,29,0.0
Bahamas,28,0.0,4.0,0.0,0.0,24,1.0
Gabon,21,0.0,1.0,0.0,1.0,19,0.0
Myanmar,21,0.0,1.0,0.0,0.0,20,0.0
Tanzania,20,0.0,1.0,0.0,3.0,16,0.0
Maldives,19,0.0,0.0,0.0,13.0,6,0.0
Libya,18,0.0,1.0,0.0,0.0,17,0.0
Guinea-Bissau,18,0.0,0.0,0.0,0.0,18,0.0
New Caledonia,17,0.0,0.0,0.0,1.0,16,0.0
Benin,16,0.0,0.0,0.0,2.0,14,0.0
Equatorial Guinea,16,0.0,0.0,0.0,1.0,15,0.0
Antigua and Barbuda,15,0.0,0.0,0.0,0.0,15,1.0
Dominica,14,0.0,0.0,0.0,0.0,14,0.0
Mongolia,14,0.0,0.0,0.0,2.0,12,0.0
Saint Lucia,14,0.0,0.0,0.0,1.0,13,0.0
Fiji,12,0.0,0.0,0.0,0.0,12,0.0
Grenada,12,0.0,0.0,0.0,0.0,12,2.0
Curaçao,11,0.0,1.0,0.0,5.0,5,0.0
Greenland,11,0.0,0.0,0.0,3.0,8,0.0
Angola,10,0.0,2.0,0.0,2.0,6,0.0
Sudan,10,0.0,2.0,0.0,2.0,6,0.0
Suriname,10,0.0,1.0,0.0,0.0,9,0.0
Mozambique,10,0.0,0.0,0.0,1.0,9,0.0
Seychelles,10,0.0,0.0,0.0,0.0,10,0.0
MS Zaandam,9,0.0,2.0,0.0,0.0,7,0.0
Zimbabwe,9,0.0,1.0,0.0,0.0,8,0.0
Nepal,9,0.0,0.0,0.0,1.0,8,0.0
Chad,9,0.0,0.0,0.0,0.0,9,0.0
Saint Kitts and Nevis,9,0.0,0.0,0.0,0.0,9,0.0
Eswatini,9,0.0,0.0,0.0,0.0,9,0.0
CAR,8,0.0,0.0,0.0,0.0,8,0.0
Cabo Verde,7,0.0,1.0,0.0,0.0,6,0.0
Vatican City,7,0.0,0.0,0.0,0.0,7,0.0
St. Vincent Grenadines,7,0.0,0.0,0.0,1.0,6,0.0
Somalia,7,0.0,0.0,0.0,1.0,6,0.0
Mauritania,6,0.0,1.0,0.0,2.0,3,0.0
Montserrat,6,0.0,0.0,0.0,0.0,6,0.0
St. Barth,6,0.0,0.0,0.0,1.0,5,0.0
Nicaragua,5,0.0,1.0,0.0,0.0,4,0.0
Bhutan,5,0.0,0.0,0.0,2.0,3,0.0
Turks and Caicos,5,0.0,0.0,0.0,0.0,5,0.0
Botswana,4,0.0,1.0,0.0,0.0,3,0.0
Gambia,4,0.0,1.0,0.0,2.0,1,0.0
Belize,4,0.0,0.0,0.0,0.0,4,0.0
Malawi,4,0.0,0.0,0.0,0.0,4,0.0
Western Sahara,4,0.0,0.0,0.0,0.0,4,0.0
Anguilla,3,0.0,0.0,0.0,0.0,3,0.0
British Virgin Islands,3,0.0,0.0,0.0,0.0,3,0.0
Burundi,3,0.0,0.0,0.0,0.0,3,0.0
Caribbean Netherlands,2,0.0,0.0,0.0,0.0,2,0.0
Falkland Islands,1,0.0,0.0,0.0,0.0,1,0.0
Papua New Guinea,1,0.0,0.0,0.0,0.0,1,0.0
Timor-Leste,1,0.0,0.0,0.0,0.0,1,0.0

# India data

In [11]:
def get_newcases_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)[
                      'cases_time_series']).dropna().set_index('date')
    df = df.iloc[-10:, :1]
    # df.loc["Total"] = df.sum()
    df.columns = ['NewCases']
    df = df.astype(int)
    df['%Change'] = df.NewCases.pct_change()*100
    df = df[-7:]
    df['%Change'] = df['%Change'].astype(int).round(2).apply(lambda x: f'{x}%')
    return df

get_newcases_time_series()

           NewCases %Change
date
22 March         69     -9%
23 March        102     47%
24 March         66    -35%
25 March         86     30%
26 March         78     -9%
27 March        151     93%
28 March        143     -5%

In [12]:
def get_total_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)['cases_time_series']).dropna().set_index('date')
    df = df[['totalconfirmed']].rename({'totalconfirmed': 'TotalCases'}, axis=1)
    df = df.iloc[-10:,:1]
    df = df.astype(int)
    df['%Increase'] = df.TotalCases.pct_change()*100
    df = df[-7:]
    df['%Increase'] = df['%Increase'].astype(int).round(2).apply(lambda x: f'{x}%')
    return df
    
get_total_time_series()

           TotalCases %Increase
date
22 March          403       20%
23 March          505       25%
24 March          571       13%
25 March          657       15%
26 March          735       11%
27 March          886       20%
28 March         1029       16%

In [19]:
def get_data():
    url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="1896310216"]/div/table/tbody')
    rows=[]
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0]).replace('', None).dropna().drop_duplicates()
    df[['Confirmed', 'Recovered', 'Deaths', 'Active']] = df[['Confirmed', 'Recovered', 'Deaths', 'Active']].apply(pd.to_numeric)
    return df

df = get_data()
print(len(df))
df.head()

38

         State    Confirmed  Recovered  Deaths  Active
0        Total          569         40      10     519
2       Kerala          109          4       0     105
3  Maharashtra          107          0       2     105
4    Karnataka           41          3       1      37
5    Telangana           37          1       0      36

In [92]:
# df_new = df.copy()
# df_new.Confirmed = list(np.random.randint(50, size=10)) + df.Confirmed.to_list()[10:38]
# df_new = df_new.sample(frac=1)
# df_new.head()

In [9]:
def get_clean_table(df):
    message = tabulate(df, headers='keys',
                       tablefmt='simple', numalign="center")
    return '<pre>' + message + '</pre>'

try:
    bot = TelegramMessenger('../india-config.json')
except:
    bot = TelegramMessenger('india-config.json')

In [95]:
curr_date = datetime.datetime.now().date()

while True:
    df_new = get_data()
    df_update = df_new
#     df_update['old_confirmed'] = df.Confirmed
    df_update = df_update.merge(df.rename({'Confirmed': 'old_confirmed'}, axis=1))
    df_update['New'] = df_update['Confirmed'] - df_update['old_confirmed']
    df_update = df_update[df_update['New']>0]
    print(df_update)
    df_update = df_update[['State', 'New', 'Confirmed', 'Deaths']].set_index('State')
    curr_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M")
    curr_time = f'Case update at: {curr_time}'
    print(curr_time)
    if len(df_update)>0:
        message = get_clean_table(df_update)
        print(message)
        bot.send_message(curr_time)
        bot.send_message(message)
    else:
        print('No new cases')
    date = datetime.datetime.now().date()
    if date != curr_date:
        df = df_new
#     break
    time.sleep(600)

Empty DataFrame
Columns: [State, , Confirmed, Recovered, Deaths, Active, old_confirmed, New]
Index: []
Case update at: 2020-03-23 23:31
No new cases

KeyboardInterrupt:

In [393]:
# !jupyter nbconvert --to script telegram.ipynb

[NbConvertApp] Converting notebook telegram.ipynb to script
[NbConvertApp] Writing 3206 bytes to telegram.py

In [23]:
bot = TelegramMessenger('../test-config.json')

In [24]:
df = get_data()

In [25]:
df = df[['Country', 'New', 'Total', 'Deaths']]
df.Country = df.Country.apply(lambda x: x[:8])
df = df.rename({'Country': 'Count','Total':'Conf'}, axis=1).set_index('Count')

In [26]:
# .replace(' | ', '|').replace('------|', '|')
message = '<pre>' + tabulate(df[:60], headers='keys', tablefmt='simple', numalign="center") + '</pre>'
bot.send_message(message)

In [76]:
# url = f'https://api.telegram.org/bot11352/getUpdates'
# requests.get(url).text

In [33]:
# for g, sub_df in df.groupby(np.arange(len(df)) // 40):
#     print(sub_df.shape)

In [10]:
bot.send_message(get_clean_table(get_time_series()))