In [1]:
import numpy as np
import pandas as pd
import requests
import lxml.html as lh

from tabulate import tabulate
import json, time, datetime
import telegram

pd.set_option('display.max_rows', 500)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
# !pip install pandas requests lxml beautifulsoup4 python-telegram-bot tabulate --upgrade

# Telegram API

In [3]:
class TelegramMessenger:
    """
    https://forums.fast.ai/t/training-metrics-as-notifications-on-mobile-using-callbacks/17330/4

    Utilizes this API Library:
       https://github.com/python-telegram-bot/python-telegram-bot
    To install:
       pip install python-telegram-bot --upgrade

    {"api_key": "462203107:<your API key>",
     "chat_id": "<your chat ID>"}

    Here's how you get an API key:
       https://core.telegram.org/api/obtaining_api_id
    Here's how you get your chat ID:
       https://stackoverflow.com/questions/32423837/telegram-bot-how-to-get-a-group-chat-id

    """

    def __init__(self, cred_file_path):
        self.__credentials = json.loads(open(cred_file_path).read())
        # Initialize bot
        self.bot = telegram.Bot(token=self.__credentials['api_key'])

    def send_message(self, message='Done'):
        self.bot.send_message(parse_mode='HTML', chat_id=self.__credentials['chat_id'], text=message)

# Global data

In [24]:
def convert1(num):
    num = float('{:.3g}'.format(num))
    magnitude = 0
    while abs(num) >= 1000:
        magnitude += 1
        num /= 1000.0
    return '{}{}'.format('{:f}'.format(num).rstrip('0').rstrip('.'), ['', 'K', 'M', 'B', 'T'][magnitude])

def get_data():
    url = 'https://www.worldometers.info/coronavirus'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="main_table_countries_today"]/tbody[1]')
    rows = []
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    columns = ['Country', 'Cases', 'New', 'Deaths',
               'New Deaths', 'Recovered', 'Active', 'x', 'x', 'x', 'x', 'x']
    df = pd.DataFrame(rows, columns=columns).iloc[:, :5].fillna(0)
    df = df.replace(' ', '').replace(',', '', regex=True).replace('', 0)
    df.dropna(inplace=True)

    for col in df.columns[1:]:
        df[col] = df[col].replace('+', '').apply(pd.to_numeric).astype(int)

    df.Country = df.Country.apply(lambda x: x.replace('\n', ''))

    return df.sort_values(['New', 'Cases'], ascending=False)

get_data()

                    Country    Cases    New  Deaths  New Deaths
7                     World  1910283  58026  118546        4352
1                    Europe   904862  23752   79570        2802
0             North America   617639  19344   24566        1090
8                       USA   577729  17429   23115        1010
2                      Asia   309581  10845   11331         329
13                       UK    88621   4342   11329         717
11                   France   136779   4188   14967         574
15                   Turkey    61049   4093    1296          98
3             South America    53826   3245    2163          82
10                    Italy   159516   3153   20465         566
9                     Spain   169496   2665   17489         280
21                   Russia    18328   2558     148          18
29                     Peru     9784   2265     193           0
14                     Iran    73303   1617    4585         111
28                    India    10453   1248     358          27
19                   Canada    25552   1169     767          50
26                  Ireland    10647    992     365          31
17              Netherlands    26551    964    2823          86
16                  Belgium    30589    942    3903         303
5                    Africa    15855    773     837          46
20                   Brazil    22720    528    1270          47
40             Saudi Arabia     4934    472      65           6
25                   Sweden    10948    465     919          20
43                   Mexico     4661    442     296          23
24                   Israel    11586    441     116          13
46                   Serbia     4054    424      85           5
54                Singapore     2918    386       9           1
12                  Germany   128208    354    3043          21
22                 Portugal    16934    349     535          31
53                  Belarus     2919    341      29           3
34                  Romania     6633    333     331          15
51                  Ukraine     3102    325      93          10
44                Indonesia     4557    316     399          26
31                    Chile     7525    312      82           2
41              Philippines     4932    284     315          18
18              Switzerland    25688    273    1138          32
39                 Pakistan     5496    266      93           2
33                   Poland     6934    260     245          13
49                    Qatar     3231    252       7           0
69                  Bahrain     1348    212       6           0
50       Dominican Republic     3167    200     177           4
83               Bangladesh      803    182      39           5
37                  Denmark     6318    144     285          12
74               Kazakhstan     1091    140      12           2
42                 Malaysia     4817    134      77           1
79               Uzbekistan      998    133       4           0
84                     Oman      727    128       4           0
59                    Egypt     2190    125     164           5
219                   China    82160    108    3341           2
62                  Morocco     1763    102     126           8
57             South Africa     2272     99      27           2
23                  Austria    14041     96     368          18
52                  Finland     3064     90      59           3
114                Djibouti      298     84       2           0
82                 Slovakia      816     74       2           0
61                  Algeria     1983     69     313          20
112                  Guinea      319     69       0           0
4                   Oceania     7799     67      66           3
58                Argentina     2208     66      97           7
71                   Kuwait     1300     66       2           1
30                  Ecuador     7529     63     355          22
89              Afghanistan      665     58      21           3
86                     Cuba      726     57      21           3
94              Ivory Coast      626     52       6           1
63                  Moldova     1712     50      35           4
65                  Croatia     1650     50      25           2
73               Azerbaijan     1148     50      12           1
66                  Hungary     1458     48     109          10
36                Australia     6359     46      61           2
102              Kyrgyzstan      419     42       5           0
148                 Somalia       60     35       2           1
38                  Czechia     6022     31     143           5
60                   Greece     2145     31      99           1
109                 Bolivia      330     30      27           3
90                   Cyprus      662     29      12           1
56                 Thailand     2579     28      40           2
77   Bosnia and Herzegovina     1037     28      39           0
35                   Norway     6551     26     134           6
67                     Iraq     1378     26      78           2
76                  Armenia     1039     26      14           1
80          North Macedonia      854     26      38           4
27                 S. Korea    10537     25     217           3
70                  Estonia     1332     23      28           3
100                 Albania      467     21      23           0
146                 Myanmar       62     21       4           0
68              New Zealand     1349     19       5           1
85                  Tunisia      726     19      34           3
113               Palestine      308     18       2           0
134                    Mali      123     18      10           1
95               Costa Rica      612     17       3           0
156                Tanzania       49     17       3           0
117                 Georgia      272     15       3           0
119             Isle of Man      242     14       2           0
128                Paraguay      147     13       6           0
130             El Salvador      137     12       6           0
48               Luxembourg     3292     11      69           3
115                 Senegal      291     11       2           0
122                   Kenya      208     11       9           1
123                 Mayotte      207     11       3           0
64                  Iceland     1711     10       8           0
88                 Bulgaria      685     10      32           3
166                   Sudan       29     10       4           2
75                Lithuania     1062      9      24           1
149                 Liberia       59      9       6           1
92                  Andorra      646      8      29           0
151                   Gabon       57      8       1           0
72                 Slovenia     1212      7      55           2
121               Sri Lanka      217      7       7           0
161                   Haiti       40      7       3           0
107                   Malta      384      6       3           0
78                Hong Kong     1010      5       4           0
101         Channel Islands      436      5       9           0
104                  Taiwan      393      5       6           0
170                    Chad       23      5       0           0
91                   Latvia      655      4       5           0
103                Honduras      397      4      25           0
118                 Vietnam      265      3       0           0
143                Ethiopia       74      3       3           0
178                  Malawi       16      3       2           0
192                     CAR       11      3       0           0
93                  Lebanon      632      2      20           0
105                  Jordan      391      2       7           0
106                 Réunion      391      2       0           0
116              Montenegro      274      2       3           0
126              Martinique      157      2       6           0
152        French Polynesia       55      2       0           0
159                  Zambia       45      2       2           0
169     Antigua and Barbuda       23      2       2           0
187                   Nepal       14      2       0           0
194              Montserrat       11      2       0           0
196              Cabo Verde       10      2       1           0
212             Timor-Leste        4      2       0           0
120                     DRC      235      1      20           0
133                  Rwanda      127      1       0           0
142                    Togo       77      1       3           0
157                 Bahamas       47      1       8           0
177                Mongolia       17      1       0           0
183                Eswatini       15      1       0           0
32                    Japan     7370      0     123           0
45                      UAE     4123      0      25           3
47                   Panama     3400      0      87           0
55                 Colombia     2776      0     109           0
81                 Cameroon      820      0      12           0
6                                721      0      13           0
87         Diamond Princess      712      0      11           0
96                    Ghana      566      0       8           0
97                    Niger      529      0      12           0
98             Burkina Faso      497      0      27           0
99                  Uruguay      480      0       8           1
108              San Marino      356      0      35           0
110               Mauritius      324      0       9           0
111                 Nigeria      323      0      10           0
124          Faeroe Islands      184      0       0           0
125               Venezuela      181      0       9           0
127               Guatemala      155      0       5           0
129              Guadeloupe      143      0       8           0
131                 Brunei       136      0       1           0
132               Gibraltar      129      0       0           0
135                Cambodia      122      0       0           0
136     Trinidad and Tobago      113      0       8           0
137              Madagascar      106      0       0           0
138                  Monaco       93      0       1           0
139                   Aruba       92      0       0           0
140           French Guiana       86      0       0           0
141           Liechtenstein       79      0       1           0
144                 Jamaica       72      0       4           0
145                Barbados       71      0       4           0
147                   Congo       60      0       5           0
150                 Bermuda       57      0       4           0
153                  Uganda       54      0       0           0
154          Cayman Islands       53      0       1           0
155            Sint Maarten       50      0       9           0
158                  Guyana       45      0       6           0
160                   Macao       45      0       0           0
162           Guinea-Bissau       38      0       0           0
163                   Benin       35      0       1           0
164                 Eritrea       34      0       0           0
165            Saint Martin       32      0       2           0
167                   Syria       25      0       2           0
168                   Libya       25      0       1           0
171       Equatorial Guinea       21      0       0           0
172              Mozambique       21      0       0           0
173                Maldives       20      0       0           0
174                  Angola       19      0       2           0
175                    Laos       19      0       0           0
176           New Caledonia       18      0       0           0
179                Dominica       16      0       0           0
180                    Fiji       16      0       0           0
181                 Namibia       16      0       0           0
182             Saint Lucia       15      0       0           0
184                Zimbabwe       14      0       3           0
185                  Belize       14      0       2           0
186                 Curaçao       14      0       1           0
188                 Grenada       14      0       0           0
189                Botswana       13      0       1           0
190   Saint Kitts and Nevis       12      0       0           0
191  St. Vincent Grenadines       12      0       0           0
193               Greenland       11      0       0           0
195              Seychelles       11      0       0           0
197                Suriname       10      0       1           0
198            Sierra Leone       10      0       0           0
199              MS Zaandam        9      0       2           0
200                  Gambia        9      0       1           0
201               Nicaragua        9      0       1           0
202        Turks and Caicos        9      0       1           0
203            Vatican City        8      0       0           0
204              Mauritania        7      0       1           0
205               St. Barth        6      0       0           0
206          Western Sahara        6      0       0           0
207                 Burundi        5      0       1           1
208                  Bhutan        5      0       0           0
209        Falkland Islands        5      0       0           0
210   Sao Tome and Principe        4      0       0           0
211             South Sudan        4      0       0           0
213                Anguilla        3      0       0           0
214  British Virgin Islands        3      0       0           0
215   Caribbean Netherlands        3      0       0           0
216        Papua New Guinea        2      0       0           0
217   Saint Pierre Miquelon        1      0       0           0
218                   Yemen        1      0       0           0

# India data

In [11]:
def get_newcases_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)[
                      'cases_time_series']).dropna().set_index('date')
    df = df.iloc[-10:, :1]
    # df.loc["Total"] = df.sum()
    df.columns = ['NewCases']
    df = df.astype(int)
    df['%Change'] = df.NewCases.pct_change()*100
    df = df[-7:]
    df['%Change'] = df['%Change'].astype(int).round(2).apply(lambda x: f'{x}%')
    return df

get_newcases_time_series()

           NewCases %Change
date
22 March         69     -9%
23 March        102     47%
24 March         66    -35%
25 March         86     30%
26 March         78     -9%
27 March        151     93%
28 March        143     -5%

In [12]:
def get_total_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)['cases_time_series']).dropna().set_index('date')
    df = df[['totalconfirmed']].rename({'totalconfirmed': 'TotalCases'}, axis=1)
    df = df.iloc[-10:,:1]
    df = df.astype(int)
    df['%Increase'] = df.TotalCases.pct_change()*100
    df = df[-7:]
    df['%Increase'] = df['%Increase'].astype(int).round(2).apply(lambda x: f'{x}%')
    return df
    
get_total_time_series()

           TotalCases %Increase
date
22 March          403       20%
23 March          505       25%
24 March          571       13%
25 March          657       15%
26 March          735       11%
27 March          886       20%
28 March         1029       16%

In [3]:
def get_data():
    url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSz8Qs1gE_IYpzlkFkCXGcL_BqR8hZieWVi-rphN1gfrO3H4lDtVZs4kd0C3P8Y9lhsT1rhoB-Q_cP4/pubhtml#'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="1896310216"]/div/table/tbody')
    rows=[]
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0]).replace('', None).dropna().drop_duplicates()
    df[['Confirmed', 'Recovered', 'Deaths', 'Active']] = df[['Confirmed', 'Recovered', 'Deaths', 'Active']].apply(pd.to_numeric)
    return df

df = get_data()
print(len(df))
df.head()

38

,State,,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths
0,Total,,13430,1768,448,11214,16/04/2020 23:43:05,TT,1059,259,26
2,Maharashtra,,3202,300,194,2708,16/04/2020 21:33:06,MH,286,5,7
3,Delhi,,1640,52,38,1550,16/04/2020 23:23:06,DL,62,11,6
4,Tamil Nadu,,1267,180,15,1072,15/04/2020 18:40:25,TN,25,62,1
5,Madhya Pradesh,,1164,70,55,1039,16/04/2020 21:33:07,MP,226,6,2

In [92]:
# df_new = df.copy()
# df_new.Confirmed = list(np.random.randint(50, size=10)) + df.Confirmed.to_list()[10:38]
# df_new = df_new.sample(frac=1)
# df_new.head()

In [9]:
def get_clean_table(df):
    message = tabulate(df, headers='keys',
                       tablefmt='simple', numalign="center")
    return '<pre>' + message + '</pre>'

try:
    bot = TelegramMessenger('../india-config.json')
except:
    bot = TelegramMessenger('india-config.json')

In [95]:
curr_date = datetime.datetime.now().date()

while True:
    df_new = get_data()
    df_update = df_new
#     df_update['old_confirmed'] = df.Confirmed
    df_update = df_update.merge(df.rename({'Confirmed': 'old_confirmed'}, axis=1))
    df_update['New'] = df_update['Confirmed'] - df_update['old_confirmed']
    df_update = df_update[df_update['New']>0]
    print(df_update)
    df_update = df_update[['State', 'New', 'Confirmed', 'Deaths']].set_index('State')
    curr_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M")
    curr_time = f'Case update at: {curr_time}'
    print(curr_time)
    if len(df_update)>0:
        message = get_clean_table(df_update)
        print(message)
        bot.send_message(curr_time)
        bot.send_message(message)
    else:
        print('No new cases')
    date = datetime.datetime.now().date()
    if date != curr_date:
        df = df_new
#     break
    time.sleep(600)

Empty DataFrame
Columns: [State, , Confirmed, Recovered, Deaths, Active, old_confirmed, New]
Index: []
Case update at: 2020-03-23 23:31
No new cases

KeyboardInterrupt:

In [393]:
# !jupyter nbconvert --to script telegram.ipynb

[NbConvertApp] Converting notebook telegram.ipynb to script
[NbConvertApp] Writing 3206 bytes to telegram.py

In [23]:
bot = TelegramMessenger('../test-config.json')

In [24]:
df = get_data()

In [25]:
df = df[['Country', 'New', 'Total', 'Deaths']]
df.Country = df.Country.apply(lambda x: x[:8])
df = df.rename({'Country': 'Count','Total':'Conf'}, axis=1).set_index('Count')

In [26]:
# .replace(' | ', '|').replace('------|', '|')
message = '<pre>' + tabulate(df[:60], headers='keys', tablefmt='simple', numalign="center") + '</pre>'
bot.send_message(message)

In [76]:
# url = f'https://api.telegram.org/bot11352/getUpdates'
# requests.get(url).text

In [33]:
# for g, sub_df in df.groupby(np.arange(len(df)) // 40):
#     print(sub_df.shape)

In [10]:
bot.send_message(get_clean_table(get_time_series()))